* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #141e30, #243b55);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    text-align: center;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

.score {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

#gameArea {
    position: relative;

    width: 350px;
    height: 600px;

    background: #333;

    border-left: 8px solid white;
    border-right: 8px solid white;

    overflow: hidden;

    margin: auto;
}

/* Road Lines */

#gameArea::before {
    content: "";

    position: absolute;

    left: 50%;

    width: 8px;
    height: 100%;

    transform: translateX(-50%);

    background: repeating-linear-gradient(
        to bottom,
        white 0px,
        white 50px,
        transparent 50px,
        transparent 100px
    );

    animation: roadMove 0.5s linear infinite;
}

@keyframes roadMove {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100px;
    }
}

/* Player */

#player {
    position: absolute;

    bottom: 30px;
    left: 145px;

    font-size: 45px;

    z-index: 5;
}

/* Enemy */

.enemy {
    position: absolute;

    font-size: 42px;

    top: -70px;

    z-index: 5;
}

#enemy1 {
    left: 55px;
}

#enemy2 {
    left: 230px;
}

/* Buttons */

button {
    padding: 12px 25px;

    margin: 10px 5px;

    border: none;

    border-radius: 8px;

    background: #00c853;

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #00a844;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}
